.productListTopNav {
  display: flex;
}

// set for button link
.productListTopNavLink:link {
  text-decoration: none;
}

.productListTopNavLink:visited {
  color: black;
  text-decoration: none;
}

.productListTopNavLink:hover {
  color: black;
  text-decoration: none;
}

.productListTopNavLink:active {
  color: black;
  text-decoration: none;
}